.auth-form-container {
    max-width: 400px;
    margin: 5rem auto;
    padding: 2.5rem;
    background: white;
    border-radius: 12px;
    box-shadow: var(--sombra);
}

/* El botón de login redirige a tienda.html según punto 7 */
.btn-login-submit {
    width: 100%;
    padding: 12px;
    background: var(--naranja);
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: bold;
}